/* slides */

.slides {
  display: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: 20px auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.activeslide {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.caption{
  text-align: center;
  background-color: #222;
  padding: 20px 16px;
  color: white;
  opacity: 0.8;
}

/* sections */

.left {
  width: 100%;
  display: inline-flex;
}

.hours {
  flex: 1;
}

.contact {
  flex: 1;
}

.map {
  height: 50%;
}

.break {
  padding: 1%;
}
