.top {
  background: #ff981a;
  background: -moz-linear-gradient(top, #ff981a 0%, #ffe8cc 80%, #fff2e5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff981a), color-stop(80%, #ffe8cc), color-stop(100%, #fff2e5));
  background: -webkit-linear-gradient(top, #ff981a 0%, #ffe8cc 80%, #fff2e5 100%);
  background: -o-linear-gradient(top, #ff981a 0%, #ffe8cc 80%, #fff2e5 100%);
  background: -ms-linear-gradient(top, #ff981a 0%, #ffe8cc 80%, #fff2e5 100%);
  background: linear-gradient(to bottom, #ff981a 0%, #ffe8cc 80%, #fff2e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff981a', endColorstr='#fff2e5', GradientType=0 );

}

* {
  font-family: 'Overlock', cursive;
  box-sizing: border-box;
  font-size: 18px;
}

h1 {
  font-family: 'Bad Script', cursive;
  font-size: 36px;
  margin: 0px;
}


.border {
  border-top: 20px solid;
  border-color: #ff981a;
  background-color: white;
  padding: 16px;
  margin: 15px;
}

body {
  margin:0px;
  background-color: #fff2e5;
}

.main {
    margin-left: 150px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#logo{
  position: relative;
  left: -1.4%;
  height: 120px;
  width: auto;
  margin: 20 0 0 0;
}

.sidenav {
    height: 90%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0px;
    overflow-x: hidden;
    padding: 8px 0;
    border-top: 20px solid;
    border-color: #ff981a;
    background-color: white;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #006633;
    display: block;
    text-align: left;
}

.sidenav a:hover {
    color: #064579;
}

.sidenav a.active {
    color: #bbbbbb;
}

button {
  background:none!important;
  border:none;
  font: inherit;
  cursor: pointer;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #006633;
  display: block;
  text-align: left;
}

button:focus {
  outline: none;
}


foot {
  padding: auto;
}
